.container {
    display: flex;
    flex-direction: column;
}
    
.container__wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container__hr {
    width: 100%;
}

header {
    /* border-bottom: 2px solid var(--back-color2); */
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

#ghost_item {
    display: none;
}

.logo_wrap {
    display: flex;
    align-items: center;
}

.logo_wrap h1 {
    font-size: 30px;
}

.navigation_bar {
    display: flex;
    width: 60vh;
    font-weight: bold;
}

.burger_menu_wrap {
    display: none;
    align-items: center;
}

.burger_menu_wrap button {
    width: 100%;
}

.sidebar {
    /* display: flex; */
    flex: 1;
    flex-direction: column;
}

.sidebar h2 {
    color: var(--accent-color);
    margin: 2vh 0 3vh 0;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    width: 70%;
    flex: 1;
    gap: 3vh;
}

.sidebar__list__item {
    border: 3px solid var(--back-color2);
    flex: 1;
    background-color: var(--primary-color);
    color: var(--back-color2);
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.sidebar__list__item img {
    /* width: 100%; */
    display: block;
    object-fit: cover;
    width: 100%;
    /* height: 100px; */
    /* object-fit: cover; */
}

.sidebar__list__item span {
    color: var(--back-color2);
    font-size: 20px;
}

.sidebar__list__item:hover {
    opacity: 0.9;
    cursor: pointer;
}

.sidebar__list__item img:hover {
    filter: brightness(80%)
}

.sidebar__list__item span {
    padding: 0 10px 0 10px;
}

.page {
    flex: 5;
    min-height: 80vh;
}

#item_page, #register_page {
    display: none;
}

.page__search_form_wrap {
    display: flex;
    /* border-bottom: 2px solid var(--back-color2); */
    /* border: 1px solid blue; */
    margin-left: 10vh;
    height: 7vh;
    align-items: center;
}

.page__search_form_wrap input {
    margin-right: 20px;
    /* margin-bottom: 10px; */
}

main {
    display: flex;
    /* border: 1px solid red; */
    margin-left: 10vh;
    flex-direction: column;
}

main h1 {
    padding-top: 1vh;
    font-size: 22px;
}

.search__page_content h1 {
    margin: 0vh 0 2vh 0;
}

.search__page_content__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3vh;
}

@keyframes list_item_color_animation {
    100%  { 
        background: var(--back-color2);
        color: var(--primary-color);
    }
    /* 100% { background: var(--primary-color); } */
}

@keyframes list_item_size_animation {
    100%  { 
        flex: 2;
    }
    /* 100% { background: var(--primary-color); } */
}

.search__page_content___list__item {
    /* border: 1px solid blue; */
    background-color: var(--back-color);
    /* color: var(--back-color2); */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border: 4px solid var(--back-color2);
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.search__page_content___list__item:hover {
    border: 4px solid var(--accent-color);
    animation: list_item_color_animation 0.5s normal forwards ease-in-out;
    flex: 2;
    /* animation-iteration-count: 1; */
}

.search__page_content___list__item:hover .search__page_content___list__item__img_wrap {
    /* animation: list_item_size_animation 0.5s normal forwards ease-in-out; */
}

.search__page_content___list__item__img_wrap {
    flex: 1;
}

.search__page_content___list__item__img_wrap img {
    width: 100%;
    border-radius: 20px;
    margin-left: 5px;
}

.search__page_content___list__item__desc_wrap {
    display: flex;
    flex: 5;
    gap: 1vh;
    flex-direction: column;
    /* border: 3px solid pink; */
}

.search__page_content:first-child {
    /* margin: 3vh 0 3vh 0; */
    color: red;
}

.search__page_content___list__item__desc_wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__page_content___list__item__desc_wrap__header h1 {
    padding: 0;
    margin: 0;
}

.search__page_content___list__item__desc_wrap__header__buttons {
    display: flex;
    gap: 10px;
}

.item__page_content {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.item__page_content__top_desc {
    display: flex;
    gap: 5vh;
}

.item__page_content__top_desc__img_wrap {
    flex: 2;
}

.item__page_content__top_desc__img_wrap img {
    width: 100%;
    border-radius: 20px;
}

.item__page_content__top_desc__desc_wrap {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex: 5;
}

.item__page_content__top_desc__desc_wrap h1 {
    padding: 0;
}

.item__page_content__top_desc__desc_wrap input, select {
    width: 50%;
}

.item__page_content__bottom_desc textarea {
    margin: 20px 0px 20px 0px;
    width: 100%;
    min-height: 30vh;
}

.item__page_content__top_desc__desc_wrap__buttons {
    display: flex;
    gap: 2vh;
}

.form_wrap {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    /* justify-content: center; */
    margin-top: 5vh;
    height: 80vh;
}

.form_wrap h1 {
    font-size: 25px;
}

.form_wrap p {
    padding-bottom: 1vh;
    font-weight: bold;
}

@media (max-width: 1024px) {
    #header {
        display: flex;
        flex-direction: row;
    }
    .logo_wrap {
        flex: 10;
        display: flex;
    }
    .logo_wrap h1 {
        padding-top: 15px;
    }
    .navigation_bar {
        display: none;
        position: absolute;
        background: linear-gradient(45deg, var(--back-color), var(--back-color2));
        opacity: 0.9;
        width: 70%;
        z-index: 999;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 15px;
        border: 5px solid var(--accent-color2);
        top: 15vh;
    }
    .navigation_bar a {
        font-size: 25px;
    } 
    #header_navbar {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .burger_menu_wrap {
        flex: 1;
        display: flex;
    }
    .burger_menu_wrap button {
        margin-top: 15px;
        width: 100%;
    }
    .container__wrap {
        flex-direction: column-reverse;
    }
    .page, .page__search_form_wrap, main {
        margin: 0;
    }
    .page {
        min-height: 0vh;
    }
    .sidebar {
        display: flex;
        margin: 0;
        border: none;
        border-top: 5px solid var(--back-color2);
        margin-top: 2vh;
        text-align: center;
    }
    .sidebar h2 {
        font-size: 30px;
    }
    .sidebar__list {
        align-self: center;
    }
    .sidebar__list__item {
        border-radius: 20px;
        border: 5px solid var(--back-color2);
        width: 60%;
        align-self: center;
    }
    .sidebar__list__item span {
        font-size: 23px;
    }
  }