:root {
    --back-color: #3A3A3A;
    --back-color2: #000000;
    --primary-color: #E8E8E8;
    --accent-color: #6ADA42;
    --accent-color2: #1EBEE1;
    --error-color: #ff2c2c;
}

* {
    font-size: 18px;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

body {
    background: var(--back-color);
    min-height: 100vh;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color2);
}

.accent {
    color: var(--accent-color);
    font-weight: bold;
}

.accent2 {
    color: var(--accent-color2);
    font-weight: bold;
}

.error {
    color: var(--error-color);
    font-weight: bold;
}

button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 20px;
    color: var(--back-color2);
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

button:active {
    opacity: 0.7;
}

.accent2_btn {
    background-color: var(--accent-color2);
}

input {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--back-color);
  }

hr {
    border: 1px solid var(--back-color2);
}

header ul {
    width: 100%;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    /* border: 1px solid aqua; */
    align-items: center;

}

header a {
    font-size: 20px;
    color: var(--primary-color);
}

header button {
    font-size: 20px;
    width: 200px;
}